@model Appointify.Admin.ViewModels.Countries.AddViewModel

@{
    ViewData["Title"] = Strings.AddCountry;
    ViewData["Page"] = NavigationPages.AddCountry;
}

<div class="col-md-6 col-12">
    <div class="card">
        <div class="card-content">
            <div class="card-body">
                <form asp-action="AddCountry" method="post" class="form form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            @if (!ViewData.ModelState.IsValid)
                            {
                            <div class="alert alert-danger fade show mb-4" role="alert">
                                @Html.ValidationSummary()
                            </div>
                            }
                            <div class="col-md-4">
                                <label>@Strings.CountryName</label>
                            </div>
                            <div class="col-md-8 form-group">
                                <input asp-for="Name" type="text" class="form-control" placeholder="@Strings.CountryName">
                            </div>
                            <div class="col-sm-12 d-flex justify-content-end">
                                <button type="submit" class="btn btn-primary me-1 mb-1">@Strings.Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>